/* Container for the Table of Contents */
.toc-container {
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Toggle button styling for the TOC */
#toc-toggle {
  display: flex;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
  color: #333;
}

/* Icon inside the TOC toggle button */
#toc-icon {
  margin-right: 5px;
  display: inline-block;
}

/* Styling for the TOC content */
.toc-content {
  display: none; /* Hidden by default, shown when toggle is clicked */
  margin-top: 8px;
  padding-left: 8px;
  border-left: 2px solid #ccc;
  color: #333;
  line-height: 0.8; /* Adjust for spacing between lines */
  font-size: 0.9em; /* Font size for TOC entries */
}

/* Link styling inside the TOC */
.toc-content a,
.toc-content a:visited {
  color: #333 !important; /* Force the color to override any other styles */
  text-decoration: none; /* Remove underline */
}

.toc-content a:hover,
.toc-content a:focus {
  text-decoration: underline; /* Optional hover and focus effect */
  color: #555; /* Slightly darker color on hover, adjust as needed */
}

/* Back to Top Button Styling */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 70px; /* Increased width for larger emoji */
  height: 70px; /* Increased height for larger emoji */
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0; /* Light theme background */
  color: #333; /* Text color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 36px; /* Larger font size for the emoji */
  cursor: pointer;
  z-index: 1000;
  text-align: center;
  line-height: 70px; /* Center-align the emoji vertically */
}

#back-to-top:hover {
  background-color: #e0e0e0; /* Slightly darker hover effect */
}

/* Default cursor */
body {
  cursor: auto;
}

/* Cat cursor for specific interactions */
body.cat-cursor {
  cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><text y="28" font-size="28">🐈</text></svg>') 16 16, auto;
}